@*<div id="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 mt-25 mb-45">

                <div class="strike">
                    <span class="color-sky-blue">INFORMATIVA SUL TRATTAMENTO DEI DATI PERSONALI</span>
                </div>

                <p>Il presente documento descrive le modalità e le finalità del trattamento dei dati personali posto in essere da Hic Mobile S.r.l., in qualità di titolare del trattamento (di seguito, anche il “<strong>Titolare</strong>” o “<strong>Hic Mobile</strong>”), nonché ogni ulteriore informazione richiesta ai sensi di legge, ivi incluse le informazioni sui diritti dell’interessato e sul loro relativo esercizio. </p>
                <p>Il Regolamento (UE) 2016/679 in materia di protezione dei dati personali (di seguito, il “<strong>Regolamento</strong>” stabilisce norme relative alla protezione delle persone fisiche con riguardo al trattamento dei dati personali, nonché norme relative alla libera circolazione di tali dati e protegge i diritti e le libertà fondamentali delle persone fisiche, con particolare riferimento al diritto alla protezione dei dati personali. </p>
                <p>L’art. 4, n. 1 del Regolamento prevede che per “<strong>Dato Personale</strong>” debba intendersi qualsiasi informazione riguardante una persona fisica identificata o identificabile (di seguito, “<strong>Interessato</strong>”). </p>
                <p>Per “<strong>Trattamento</strong>” deve invece intendersi qualunque operazione o complesso di operazioni, effettuate con o senza l’ausilio di processi automatizzati e applicate a Dati Personali o insiemi di Dati Personali, come la raccolta, la registrazione, l’organizzazione, la strutturazione, la conservazione, l’adattamento o la modifica, l’estrazione, la consultazione, l’uso, la comunicazione mediante trasmissione, diffusione o qualsiasi altra forma di messa a disposizione, il raffronto o l’interconnessione, la limitazione, la cancellazione o la distruzione (art. 4, n. 2 del Regolamento). </p>
                <p>Ai sensi degli artt. 12 e ss. del Regolamento, si prevede inoltre che l’Interessato debba essere messo a conoscenza delle opportune informazioni relative (i) alle attività di Trattamento che sono svolte dal titolare del Trattamento e (ii) ai diritti degli Interessati. </p>

                <h3 class="color-sky-blue">1. FINALITÀ DEL TRATTAMENTO E BASE GIURIDICA</h3>
                <p>Il trattamento è finalizzato: </p>

                <ol style="list-style-type: none;">
                    <li style="list-style-type: lower-roman">alla corretta erogazione dei servizi agli utenti secondo i termini e le condizioni diretti a regolare lo stesso, </li>
                    <li style="list-style-type: lower-roman">per il caso di iscrizione al servizio Admove e/o di fruizione parziale dello stesso senza che sia finalizzata con successo alcuna transazione, all’invio di comunicazioni di assistenza e supporto da parte di Hic Mobile, anche al fine di valutare la cancellazione dei Dati Personali dell’Interessato, ferma in ogni caso la facoltà dell’Interessato di manifestare la propria volontà di non ricevere i suddetti messaggi, </li>
                    <li style="list-style-type: lower-roman">all’adempimento degli obblighi previsti da leggi, regolamenti o dalla normativa comunitaria, in particolare connessi alla normativa civilistica, fiscale e contabile, nonché per dare attuazione a disposizioni impartite da autorità a ciò legittimate dalla legge o da organi di vigilanza e controllo, </li>
                    <li style="list-style-type: lower-roman">all’invio di messaggi promozionali, tramite e-mail, agli Interessati sui servizi di Admove analoghi a quelli già acquistati, ferma restando la facoltà dell’Interessato di manifestare la propria volontà di non ricevere i suddetti messaggi. </li>
                    
                    <p></p>
                    <p>Dal momento che il Trattamento dei Dati Personali, per le finalità di cui ai punti (i), (ii), (iii) sopra richiamati è necessario, rispettivamente per l’esecuzione di un contratto di cui l’Interessato è parte, l’esecuzione di misure precontrattuali adottate su richiesta dell’Interessato e per l’adempimento di obblighi contrattuali e di legge, il consenso dell’Interessato non è richiesto. Il Trattamento dei Dati Personali per le finalità di cui al punto (iv) si intende consentito ai sensi della delibera del Garante per la protezione dei dati personali del 4 luglio 2013 n. 330.</p>
                    
                    <li style="list-style-type: lower-roman">per l’invio via e-mail, da parte del Titolare, di comunicazioni relative a iniziative promozionali e di marketing di Admove e per lo svolgimento di ricerche di mercato da parte di quest’ultima, previo consenso espresso dell’Interessato. </li>
                </ol>

                <h3 class="color-sky-blue">2. MODALITÀ DEL TRATTAMENTO E CONSERVAZIONE</h3>
                <p>In conformità a quanto sancito dall’art. 5 del Regolamento, i Dati Personali oggetto di Trattamento sono:</p>

                <ol style="list-style-type: none;">
                    <li style="list-style-type: lower-roman">trattati in modo lecito, corretto e trasparente nei confronti dell’Interessato; </li>
                    <li style="list-style-type: lower-roman">raccolti e registrati per finalità determinate, esplicite e legittime, e successivamente trattati in termini compatibili con tali finalità; </li>
                    <li style="list-style-type: lower-roman">adeguati, pertinenti e limitati a quanto necessario rispetto alle finalità per le quali sono trattati; </li>
                    <li style="list-style-type: lower-roman">esatti e se necessario, aggiornati; </li>
                    <li style="list-style-type: lower-roman">trattati in maniera da garantire un adeguato sicurezza; </li>
                    <li style="list-style-type: lower-roman">conservati in una forma che consenta l’identificazione dell’Interessato per un periodo di tempo non superiore al conseguimento delle finalità per le quali sono trattati. </li>
                </ol>

                <p>I Dati Personali saranno trattati dal Titolare con strumenti automatizzati e non automatizzati; la conservazione in forma elettronica dei Dati Personali avviene in server sicuri posti in aree ad accesso controllato e dotate di accessi ristretti. </p>
                <p>Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati. </p>

                <h3 class="color-sky-blue">3. NATURA DELLA RACCOLTA DEI DATI. CONSEGUENZE DI UN EVENTUALE MANCATO CONFERIMENTO</h3>
                <p>3.1 Il conferimento dei Dati Personali per le finalità di cui al punto (i), (ii), (iii) del paragrafo 1 è obbligatorio al fine di fruire dei servizi di Hic Mobile. Il mancato conferimento dei dati determinerebbe, pertanto, l’impossibilità per l’Interessato di fruire integralmente dei servizi.</p>
                <p>3.2 Il conferimento dei Dati Personali per le finalità di cui al punto (iv) del paragrafo 1 è indispensabile al fine di consentire al Titolare di inviare le proprie comunicazioni relative ad iniziative promozionali sui prodotti analoghi a quelli già acquistati e/o in relazione alla vendita dei quali l’Interessato ha fornito i propri Dati Personali. L’eventuale rifiuto di tale utilizzo comporta, dunque, l’impossibilità per il Titolare di trasmettere le suddette comunicazioni.</p>
                <p>3.3 Il conferimento dei Dati per le finalità di cui ai punti (v) del paragrafo 1 è facoltativo e, quindi, non sussistono conseguenze nel caso in cui l’utente rifiuti di conferire i propri Dati. </p>

                <h3 class="color-sky-blue">4. CONSERVAZIONE DEI DATI PERSONALI</h3>
                <p>4.1 I Dati Personali vengono conservati per il tempo strettamente necessario per conseguire gli scopi per cui sono stati raccolti e sottoposti a Trattamento. Con riferimento, in particolare, alle finalità di cui ai punti (i) e (ii) del paragrafo 1, i Dati Personali verranno conservati per procedere al Trattamento ai fini della corretta erogazione dei servizi. Con riferimento, in particolare, alle finalità di cui al punto (iii), i Dati Personali verranno trattati per un periodo massimo di 12 mesi. Con riferimento, invece, alle finalità di cui al punto (iv) del paragrafo 1, i Dati Personali verranno trattati fintantoché l’Interessato non avrà esercitato il proprio diritto di opposizione. Con riferimento al punto (v), i Dati Personali verranno trattati per un periodo massimo di 24 mesi. </p>
                <p>4.2 Resta inteso tuttavia che, una volta esaurite le finalità del Trattamento ovvero in caso di esercizio del diritto di opposizione al Trattamento o di revoca del consenso prestato, il Titolare sarà comunque legittimato a conservare ulteriormente i Dati Personali, in tutto o in parte, per determinate finalità, come far valere o difendere un diritto in sede giudiziaria (per esempio, in caso di possibili contestazioni rispetto alle attività svolte dal Titolare). </p>

                <h3 class="color-sky-blue">5. COMUNICAZIONE DEI DATI PERSONALI</h3>
                <p>I Dati Personali saranno accessibili agli incaricati del Trattamento e ai collaboratori esterni. </p>

                <h3 class="color-sky-blue">6. DIFFUSIONE DEI DATI PERSONALI</h3>
                <p>I Dati Personali non sono soggetti a diffusione. </p>

                <h3 class="color-sky-blue">7. TRASFERIMENTO DEI DATI PERSONALI ALL'ESTERO</h3>
                <p>I Dati Personali non saranno sottoposti a trasferimento al di fuori dell’Unione Europea. </p>

                <h3 class="color-sky-blue">8. DIRITTI DELL'INTERESSATO</h3>
                <p>In qualsiasi momento l’Interessato potrà accedere ai Dati Personali al fine di correggerli, eliminarli e, in generale, esercitare tutti i diritti che gli sono espressamente riconosciuti ai sensi della normativa applicabile in materia di protezione dei Dati Personali, e in dettaglio: il diritto di ottenere la conferma dell’esistenza o meno dei Dati Personali e la loro comunicazione in forma intelligibile, di conoscerne l’origine, le finalità e le modalità del Trattamento; il diritto di ottenere l’indicazione degli estremi identificativi del Titolare, dei responsabili del Trattamento e dei soggetti o delle categorie di soggetti ai quali i Dati Personali possono essere comunicati; il diritto di verificare l’esattezza dei Dati Personali o chiederne l’integrazione o l’aggiornamento oppure la rettificazione; il diritto di chiedere la cancellazione, la trasformazione in forma anonima o il blocco dei Dati Personali trattati in violazione alla legge, nonché la loro limitazione ai sensi di legge e di opporsi in ogni caso, in tutto o in parte, per motivi legittimi al loro Trattamento; il diritto alla portabilità dei propri Dati Personali, nonché il diritto di proporre un reclamo, una segnalazione o un ricorso al Garante per la protezione dei dati personali, ove ne ricorrano i presupposti. La normativa applicabile riconosce, inoltre, il diritto degli Interessati di opporsi al Trattamento dei Dati Personali per le finalità di cui al punto (v) del paragrafo 1 del presente documento informativo, nonché il diritto di revocare il proprio consenso al Trattamento dei Dati Personali in qualsiasi momento, senza che ciò pregiudichi, tuttavia, la liceità del Trattamento posto in essere dal Titolare sulla base del consenso prestato prima della revoca. </p>

                <h3 class="color-sky-blue">9. TITOLARE DEL TRATTAMENTO</h3>
                <p>Titolare del Trattamento è <strong>Hic Mobile S.r.l.</strong>, con sede legale in Italia, Via Antonio Canova, 39, 20145, Milano. </p>

                <h3 class="color-sky-blue">10. COMUNICAZIONI ED ESERCIZIO DEI DIRITTI DELL'INTERESSATO</h3>
                <p>Per esercitare i diritti di cui al paragrafo 8, l’Interessato può rivolgersi in qualsiasi momento al Titolare del Trattamento scrivendo un’email a <a href="mailto:info@admove.com">info@hicmobile.com</a>. </p>

                <div class="strike">
                    <span class="color-sky-blue">CONSENSO AL TRATTAMENTO DEI DATI PERSONALI</span>
                </div>
                <p>Letta e compresa l’informativa sul Trattamento dei dati personali di cui sopra, cliccando di seguito l’Interessato presta il proprio consenso per l’invio, da parte di Hic Mobile S.r.l., di comunicazioni relative a iniziative promozionali e di marketing relative ad Admove e per lo svolgimento di ricerche di mercato. </p>

                <div class="text-center">
                    <a asp-action="Index" class="btn btn-adm mt-30 mb-35" type="submit" id="backButton" tabindex="1">Torna indietro</a>
                </div>
            </div>
        </div>
    </div>
</div>*@